@import url('../../core/styles/theme.css');

.page {
  display: grid;
  grid-template-rows: var(--space-m) 1fr var(--space-m);
  align-items: center;
  justify-items: center;
  min-height: 85svh;
  padding: 0 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (max-width: env(--breakpoint-s)) {
  .page {
    padding: var(--space-l);
    padding-bottom: 80px;
  }
}