:root {
  /* Color */
  --color-primary: #198CFB;
  --color-secondary: #005DAD;
  --color-light: #FFFFFF;
  --color-dark: #171717;
  --color-error: #C10E0E;
  --color-disabled: #d5d2d2f9;

  /* Size */
  --size-s: 0.5rem;
  --size-default: 1rem;
  --size-m: 1.5rem;
  --size-l: 2rem;

  /* Space */
  --space-s: 0.5rem;
  --space-default: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;

  /* Breakpoint */
  /* 480px */
  --breakpoint-s: 30rem;
  /* 768px */
  --breakpoint-m: 48rem;
  /* 1280px */
  --breakpoint-default: 80rem;

  /* Font */
  --font: Arial, Helvetica, sans-serif;

  /* Radii */
  --radii-s: 0.5rem;
  --radii-default: 1rem;
  --radii-m: 1.5rem;
  --radii-l: 2rem;

  /* Z Index */
  --zIndex-hidden: -1;
  --zIndex-default: 0;
  --zIndex-m: 1;
  --zIndex-l: 2;
}