.card-itinerary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-default);
  background-color: var(--color-light);
  padding: var(--space-l);
  border: 2px solid var(--color-primary);
  min-width: 35rem;

  h4,
  strong {
    font-size: large;
  }

  footer {
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;

    i {
      color: var(--color-secondary);
    }

    .card-itinerary-price {
      display: flex;
      gap: var(--space-s);
      align-items: flex-end;
    }
  }
}